* {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Sidenav styling*/

.side-nav {
    height: 100%;
    width: 270px;
    background: rgba(180, 205, 203, 1.00);
    top: 0%;
    left: 0%;
}

.side-nav a {
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #FFF;
    display: block;
    padding: 10px 0 10px 20px;
}

.side-nav a:hover {
    color: darkblue;
}

.side-nav-ul ul {
    display: none;
}

.side-nav-ul li:hover > ul {
    display: inline-block;
}

.side-nav-ul ul a::before {
    content: '\203A';
    margin-right: 20px;
}

.side-nav .sub-arrow::after {
    content: '\203A';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.side-nav li:hover .sub-arrow::after {
    content: '\2039';
}